*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.loginMainBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}
.loginImageBox{
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom right, #87CEEB, #00BFFF);
}
.loginFormBox{
    width: 50%;
    height: 100%;
}
.loginImageBox>img{
    width: 40%;
    height: 20%;
    margin-top: 5rem;
    filter: drop-shadow(20px 20px 20px black);
}
.loginImageBox>h1{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: rgb(226, 226, 42);
    filter: drop-shadow(20px 20px 20px black);
    margin-top: 3rem;
    text-decoration: underline;
}
.loginImageBox>p{
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(226, 226, 42);
    filter: drop-shadow(20px 20px 20px black);
    margin-top: 2rem;
}
.loginFormBox>h2{
    margin-top: 4rem;
    text-align: left;
    margin-left: 3.9rem;
}
.loginFormBox>h6{
    text-align: left;
    margin-left: 3.9rem;
    font-weight: lighter;
}
.loginForm{
    width: 80%;
    margin-left: 2rem;
    margin-top: 3rem;
}
.loginForm>label{
    display: block;
    text-align: left;
    margin-left: 2.5rem;
    font-size: 1rem;
    color: #87CEEB;
    margin-top: 0.5rem;
}
.loginForm>input{
    width: 87%;
    line-height: 30px;
    color: #87CEEB;
    border-color: #87CEEB;
    font-size: 1.2rem;
    margin: 1.5px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.loginForm>input:focus{
    outline: none;
}
.loginForm>select{
    width: 87%;
    height: 30px;
    color: #87CEEB;
    outline-color: #87CEEB;
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}
#loginBtn{
    width: 87%;
    height: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    border: none;
    background: linear-gradient(to bottom right, #87CEEB, #00BFFF);
}
#orLine{
    text-align: left;
    margin-left: 2.5rem;
    font-weight: lighter;
    margin-top: 1rem;
}
#google{
    width: 87%;
    height: 40px;
    margin-top: 20px;
    font-size: 1.5rem;
    border: none;
    background: linear-gradient(to bottom right, #87CEEB, #00BFFF);
}

@media screen and (max-width: 900px) {
    .loginImageBox{
        display: none;
    }
    .loginFormBox{
        width: 100%;
    }
    .loginFormBox>h2{
        font-size: 20px;
    }
    .loginFormBox>h6{
        font-size: 18px;
    }
    .loginForm{
        width: 90%;
    }
   
 }